*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f5f5f9;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 350px;
}
.card{
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0,5);
    transition: 0.3s;
}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}
.card h2{
    margin-bottom: 10px;
}
.card p{
    color: #64748b;
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button{
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #2563eb;
    color: white;
    font-size: 15px;
}
button:hover{
    background-color: black;
    color: white;
}
.dark{
    background: rgb(48, 43, 43);
    color: white;
}
.dark p{
    color: #cbe5e1;
}
.hidden{
    display: none;
}
.pen{
    background-color: black;
    color: white;
}